html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

html {
	overflow: auto;	
}

body {
	line-height:1.2;
	font-family: "Fjalla+One", Helvetica, Arial, serif;
	font-size:1em;
	margin:0 auto;
	width: 100%;
	height: 100%;
	background: url(../img/img_header_background.jpg) no-repeat center center fixed;
	background-size: contain;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

html {
	overflow-x:hidden;
}

h3 {
	font-family: 'Lato',Arial, Helvetica,sans-serif;
	font-size: 200%

}

ol,ul,.subMenu ul {
	list-style:none;
}

video {
	padding-left: 75px;
	padding-right: 75px;
	background-color: black;
}

footer {
	width: 100%;
}



#wrapper {
	max-width: 100%
}

/* ----------------- Navigation ------------------- */
.subMenu {
	display: inline-block;
	position: fixed;
	text-align:right;
	background:url(../img/nav_bar.png) repeat-x;
	width: 100%;
	z-index:5;
	padding: 10px 50px 50px 0;
}

.subMenu ul {
	white-space:nowrap
}

.subMenu li {
	display:inline-block;
	font-size:125%;
	font-weight:bold;
	padding:0 2% 0 3%;
}

.subMenu li a {
	text-decoration:none;
	color:#fff;
}

.subMenu a:hover {
	color: #FF9900;
}

/* ----------------- End Navigation ------------------- */
/* ----------------- End Bottom Navigation ------------------- */

.bottomNav {
	text-align: center;
	background-color: #303030;
	width:100%;
	z-index:5;
	padding: 10px 0px 20px 0;
}

.bottomNav li {
	display:inline;
	font-size:100%;
	font-weight:bold;
	padding-right:50px;
}

.bottomNav li a {
	text-decoration:none;
	color:#fff;
}

.bottomNav a:hover {
	color: #909090;
}
/* ----------------- End Bottom Navigation ------------------- */
/* ----------------- Start Page Headers ------------------- */
.category_header {
	margin-top: 10px;
	display:block;
	text-align:left;
	padding:45px 0 25px 10px;
}

.category_header_text {
	display:block;
	font-family:'Fjalla+One', Helvetica, Arial, sans-serif;
	font-size:250%;
	color:Gray;
	text-transform:uppercase;
}
/* ----------------- End Page Headers ------------------- */
/* ----------------- Start Page Structure and Position ------------------- */
.pages {
	position:relative;
	background-color:#FFF;
	width:100%;
	padding-bottom:50px;
}

#about {
	position:relative;
	top:600px;
}

#portfolio {
	position:relative;
	top:1200px;
}

#blog {
	position:relative;
	top:2400px;
}

#contact {
	position:relative;
	top:3000px;
	width:100%;
	line-height:150%;
	text-align:left;
}

.project_container {
	background:url(../img/project_container.jpg) no-repeat center center;
	background-size:cover;
}

.page_pics {
	display: inline-block;	
	max-width: 100%;
}


.page_pics img {
	vertical-align: top;
}

.page_summary  {
	display: inline-block;
	vertical-align: top;
	font-family: 'Lato', Helvetica, Arial, serif;
	font-weight: bold;
	max-width: 500px;
}


.page_summary li {
	padding: 4px;
	line-height: 1.2em;
}


/* ----------------- End Page Structure and Positioning ------------------- */
/* ----------------- Start About Page ------------------- */
.about_container {
	display:block;
	background:url(../img/about_background.jpg) no-repeat center center;
	background-size: cover;
	max-width: 100%;
}

.about_pic {
	display:inline-block;
	padding:20px 0 0 20px;
	max-width: 100%;
}

.summary {
	display:inline-block;
	font-family:'Lato', Helvetica, Arial, sans-serif;
	font-weight:bold;
	vertical-align:top;
	max-width: 60%;
	min-width: 30%;
	line-height:120%;
	padding:25px 0 0 40px;
	color:#FFF;
}

.welcome {
	text-transform: uppercase;
	font-family:'Fjalla+One', Helvetica, Arial, sans-serif;
	font-size:200%;
	line-height: 100%;
	color: #fff;
	padding:10px 5px;
}
/* ----------------- End About Page ------------------- */
/* ----------------- Start Portfolio Page ------------------- */

.portfolio_category_pic {
	display:inline-block;
	position:relative;
	opacity: 0.5;
}

.portfolio_category_pic:hover {
	opacity: 0.9;
	-webkit-transition:1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	box-transition: 1s;
	
}

.portfolio_category_header_text {
	color:#505050;
	font-family:'Fjalla+One', Helvetica, Arial, serif;
	font-size: 150%;
	font-weight: bold;
}

.portPic1, .portPic2, .portPic3, .portPic4, .portPic5, .portPic6 {
	padding-top: 1%;
	max-width: 100%;
}

.experience {
	font-family:'Fjalla+One', Helvetica, Arial, sans-serif;
	font-size:150%;
	color:#505050;
	text-transform: uppercase;
	padding:25px 0 20px 0px;
	text-align: left;
}

.experience_pic,.page_header_container {
	text-align:center;
}
/* ----------------- End Portfolio Page ------------------- */
/* ----------------- Start Blog Page ------------------- */

.blog_interest {
	padding: 30px 0;
}

.interest li {
	display: inline;
}

.faq {
	max-width: 100%;
}

.faq ul {
	width: 100%;
	text-align: center;
}

.faq div{
	float: left;

}

.box1, .box2, .box3, .box4, .box5 {
	display: block;
	width: 15%;
	background-color: #626262;
	height: 150px;
	margin:10px;
}

.faq p {
	vertical-align: middle;
	font-family: "Fjalla+One", Helvetica, Arial, sans-serif;
	font-size: 24px;
	color: white;
}



.view {
	display: inline-block;
   width: 190px;
   height: 138px;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
   width: 190px;
   height: 138px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   position: relative;
   font-size: 14px;
   padding: 10px 20px 10px 0px;
   background: rgba(0, 0, 0, 0.8);
   margin: 40px 0 0 0;
}


.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
   background-color: rgba(146,96,91,0.3);
   -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth h2 {
   background: rgba(255, 255, 255, 0.5);
   color: #000;
   -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-fifth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   color: #333;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view-fifth:hover img {
   -webkit-transform: translateX(300px);
   -moz-transform: translateX(300px);
   -o-transform: translateX(300px);
   -ms-transform: translateX(300px);
   transform: translateX(300px);
  }



.education_container {
	display:block;
	background:url(../img/about_background.jpg) no-repeat center center;
	background-size: cover;
	max-width: 100%;
}

.education_pic {
	display:inline-block;
	padding:10px 0 0 20px;
}

.education_pic img{
	max-width: 90%;
}
.education_summary {
	display:inline-block;
	font-family:'Fjalla+One', Helvetica, Arial, sans-serif;
	font-weight:bold;
	vertical-align:text-top;
	max-width: 80%;
	min-width: 30%;
	line-height:120%;
	padding:25px 0 0 40px;
	color:#FFF;
}


/* ----------------- End Blog Page ------------------- */
/* ----------------- Start Contact Page ------------------- */
.touch {
	clear: both;
	color:black;
	font-family:'Fjalla+One', Helvetica, Arial, sans-serif;
	font-size:120%;
	text-transform:uppercase;
	padding-bottom: 25px;
}

.contact_container {
	background:url(../img/about_background.jpg) no-repeat center center;
	background-size: cover;

}
.contact p {
	font-family:'Lato', Helvetica, Arial, serif;
	font-weight: bold;
	text-align:center;
	display:inline;
	padding:20px 0 10px 150px;
}

.social,.social li {
	display:inline;
	list-style:none;
	padding: 25px;
}
/* ----------------- End Contact Page ------------------- */
/* ----------------- Start UX Page ------------------- */

.UX_pics {
	display: inline-block;
	vertical-align: top;
	padding: 20px 0 20px 0;
	max-width: 100%;
}

.UX_pics2 img{
	padding: 3px 3px 3px 3px;

}

.UX_summary  {
	display: inline-block;
	padding-left: 50px;
	font-family: 'Lato', Helvetica, Arial, serif;
	font-weight: bold;
	max-width: 700px;
	line-height: 125%;
}

.UX_summary li {
	padding: 4px;
	line-height: 125%;
}

.UX_title {
	text-transform: uppercase;
	font-family:'Fjalla+One', Helvetica, Arial, sans-serif;
	font-size:200%;
	line-height: 100%;
	color: #fff;
	background-color: #EAA508;
	padding:10px 5px;
}

.requirements {
	position: relative;
	font-family: 'Lato', Helvetica, Arial, serif;
	font-weight: bold;
	max-width: 600px;
	margin-left: 25px;
	list-style-type: disc;
}

.requirements li {
	line-height: 175%;
}

#toTheTop {
	display: inline-block;
	font-family: 'Lato', Helvetica, Arial, serif;
	color: white;
	background-color: black;
	padding: 5px;
	
	-webkit-box-shadow:2px 2px 1px #101010;
	-moz-box-shadow:2px 2px 1px #101010;
	-o-box-shadow:2px 2px 1px #101010;
	box-shadow:2px 2px 1px #101010;
}

#toTheTop:hover {
	display: inline-block;
	background-color: blue;
	-webkit-box-shadow:2px 2px 1px #101010;
	-moz-box-shadow:2px 2px 1px #101010;
	-o-box-shadow:2px 2px 1px #101010;
	box-shadow:2px 2px 1px #101010;
}

@media only screen and (max-width:920px) {
/*   Home Page   */


	.subMenu {
		text-align: center;	
		padding-left: 5%;	
		text-align: center;
	}

	.subMenu li {
		font-size: 90%;
		padding-left:8%;	
	}

	.about_container {
		text-align:center;	
		min-width: 300px;	
	}

	.about_pic {
		padding: 2%;
	}

	.summary {
		text-align:left;
		min-width: 300px;
		padding:1%;
	}

	.UX_pics img {
		text-align: center;
		min-width: 300px;
	}
	
	.UX_pics2 img {
		text-align: center;
		padding:5px 0 5px 0;
		min-width: 300px;
	}

	.UX_summary {
		text-align: left;
		min-width: 300px;
		padding-left:0;
		padding-right:0;

	}

	.category_header_text {
		font-size: 200%;
		text-align: center;
		padding:1%;
	}



/*  Interactive Page   */


	.project_container {
		min-width: 300px;
	}

	.page_pics {
		min-width: 300px;
		text-align: center;
		vertical-align: top;
		padding-right: 10px;
	}

	.page_summary {
		padding:0 5px 0 5px;
	}
	
	.bottomNav {
		text-align: center;
		padding-left: 25px;
	}

	.bottomNav li{
		display: block;
		padding:5px 0 5px 0;
	}
}

